.col-lg-1,#pricing{
    padding: 15px 10px;
}
*{
    font-family:'Unbounded', cursive;
}
h1{
    font-family: 'Russo One', sans-serif;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
a{
    color: black;
    text-decoration: none;
}
button{
     background-color:darkblue;
     border: 2px solid darkblue;
     border-radius: 6px;
     height: 45px;
     color: whitesmoke;
     opacity: .8;
}
span{
    color:darkblue;
    font-family: 'Russo One', sans-serif;
    opacity: .8;
}
button:hover{
    opacity: 1;
}